.addProject__form {
  margin-top: 100px;
  overflow-x: hidden;
}
.addproject__input {
  padding: 10px;
  margin-bottom: 20px;
  width: 80%;
}
@media screen and (max-width: 600px) {
  .addProject__form {
    /* overflow-x: hidden; */
    border: 2px solid red;
    margin: auto;
    width: 80%;
  }
  .addproject__input{
    /* border: 2px solid red; */
  
  }
}
