.editAbout__form {
  margin-top: 100px;
  overflow-x: hidden;

}
.editAbout__form__2 {
  margin-left: 300px;
  width: 100%;
}
.editAbout__input {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
}

@media screen and (max-width: 576px) {
  .editAbout__form {
    margin-top: 0px;
    overflow-x: hidden;
    width: 70%;
    margin: auto;
  }
  .editAbout__head {
    margin-top: 14px;
  }
}
